<!DOCTYPE html>
<title>
    The webapge for dummies
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    
    <link rel="stylesheet" href=""https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css""

</title>
<body> 
    

      </div>
      <div class="navbar">
        
      <div class="content">

      </div>
      <div class="footer">

      </div>
      
    {% block contents %} {% endblock %}
</body>
</html>