html{
    scroll-behavior:  smooth;
}
body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    /* background-color: aqua; */
    display:grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(5,1fr);
    
}
.navbar{
    grid-column: 1/4;
    /* grid-row: 1/2; */
    border: solid 1px black;
    display: inline;
    /* max-height: 4vh; */
}





.content{
    grid-column: 1/4;
    grid-row: 2/4;
    border: solid 1px rgb(230, 12, 12);
}
.footer{
    grid-column: 1/4;
    grid-row: 4/5;
    border: solid 1px rgb(230, 12, 12);
}
.attach{
    grid-column: 1/4;
    grid-row: 5/5;
    border: solid 1px rgb(230, 12, 12);
}